########################################
#  Editor files
########################################
.idea

########################################
#  Project Files
########################################
/vendor
/node_modules
.env